#booking-description {
  margin-top: 50px;
}

#form-message {
  height: 20px;
  padding: 10px;
}

#form-success, #form-failure {
  font-size: 20px;
  display: none;
}

#form-success {
  color: #71627a;
}


#form-failure {
  color:#c10000;
}

#contact-container {
  margin-bottom: 30px;
  display: flex;
}

#contact {
  padding: 20px 0px;
  flex: 2 1 0;
}

#testimonials {
  flex: 1 1 0;
}

.testimonial {
  margin: 0px;
  padding: 40px 0px 0px 40px;
  font-size: 16px;
  text-align: right;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  padding: 0;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 95%;
  height: 20px;
  border: 2px solid #71627a;
  background: #e0e0eb;
  margin: 5px; 
  padding: 10px;
  outline-color: #D4AF37;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 2px solid #4f4555;
}

#contact textarea {
  height: 150px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 60%;
  border: none;
  background: #71627a;
  color: #e0e0eb;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#button-container {
  display: flex;
  justify-content: center;
}

@media(max-width: 1000px) { 
  #contact-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .testimonial {
    padding: 10px 0px 10px 15%;
  }

  #contact {
    width: 100%;
  }
}

@media(max-width: 600px) {
  
  .testimonial {
    padding: 10px 5%;
  }

}